<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html :: head"/>
<body>
<header th:replace="template.html :: header"/>
<section>
    <nav th:replace="template.html :: navigation"/>

    <article>
        <h1>Waiting for admin approval</h1>
        <div>Thanks for your registration! Admin will review your registration and approve accordingly.
            Please have patience until then</div>
    </article>

</section>
<footer th:replace="template.html :: footer"/>
</body>
</html>
